{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<style>
.example-wrapper{
    
}
</style>
<div class="example-wrapper d-flex justify-content-center">
    <h1> {{ controller_name }}</h1>

</div>
{% endblock %}
